<template>
    <div v-if="$auth.ready()">
        <left-menu v-if="$auth.check()"></left-menu>
        <div id="content" class="app-content box-shadow-z0" role="main">
            <top-menu v-if="$auth.check()"></top-menu>
            <div id="view" class="app-body">
                <div class="padding">
                    <router-view></router-view>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import LeftMenu from "./layouts/left-menu.vue";
    import TopMenu from "./layouts/top-menu.vue";

    export default {
        components: {
            LeftMenu,
            TopMenu
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
