<template>
    <div class="app-header white box-shadow">
        <div class="navbar">
            <a data-toggle="modal" data-target="#aside" class="navbar-item pull-left hidden-lg-up">
                <i class="material-icons">&#xe5d2;</i>
            </a>
            <div class="navbar-item pull-left h5" id="pageTitle"></div>
            <ul class="nav navbar-nav pull-right">
                <li class="nav-item dropdown pos-stc-xs">
                    <a class="nav-link" href data-toggle="dropdown">
                        <i class="material-icons">&#xe7f5;</i>
                        <span class="label label-sm up warn">3</span>
                    </a>
                    <div ui-include="'../views/blocks/dropdown.notification.html'"></div>
                </li>
                <li class="nav-item dropdown" :class="{'open':profile_open}">
                    <a class="nav-link clear" href data-toggle="dropdown" @click.prevent="profile_open = !profile_open">
                  <span class="avatar w-32">
                    <img src="../../../../../template/assets/images/a0.jpg" alt="...">
                    <i class="on b-white bottom"></i>
                  </span>
                    </a>
                    <div class="dropdown-menu pull-right dropdown-menu-scale">
                        <a class="dropdown-item" ui-sref="app.inbox.list">
                            <span>Inbox</span>
                            <span class="label warn m-l-xs">3</span>
                        </a>
                        <a class="dropdown-item" ui-sref="app.page.profile">
                            <span>Profile</span>
                        </a>
                        <a class="dropdown-item" ui-sref="app.page.setting">
                            <span>Settings</span>
                            <span class="label primary m-l-xs">3/9</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" ui-sref="app.docs">
                            Need help?
                        </a>
                        <a class="dropdown-item" @click="$auth.logout()">Sign out</a>
                    </div>
                </li>
                <li class="nav-item hidden-md-up">
                    <a class="nav-link" data-toggle="collapse" data-target="#collapse">
                        <i class="material-icons">&#xe5d4;</i>
                    </a>
                </li>
            </ul>
            <div class="collapse navbar-toggleable-sm" id="collapse">
                <div ui-include="'../views/blocks/navbar.form.right.html'"></div>
                <ul class="nav navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link" href data-toggle="dropdown">
                            <i class="fa fa-fw fa-plus text-muted"></i>
                            <span>New</span>
                        </a>
                        <div ui-include="'../views/blocks/dropdown.new.html'"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name : "top-menu",
        data : () => ({
            profile_open : false,
        })
    }
</script>