<template>
    <div class="center-block w-xxl w-auto-xs p-y-md">
        <div class="navbar">
            <div class="pull-center">
                <div ui-include="'../views/blocks/navbar.brand.html'"></div>
            </div>
        </div>
        <div class="p-a-md box-color r box-shadow-z1 text-color m-a">
            <div class="m-b text-sm">
                Sign in with your Flatkit Account
            </div>
            <form name="form">
                <div class="md-form-group float-label">
                    <input v-validate="'required'" type="text" class="md-input" v-model="user.username">
                    <label>Email</label>
                    <span v-show="errors.has('email')">{{ errors.first('email') }}</span>
                </div>
                <div class="md-form-group float-label">
                    <input type="password" class="md-input" v-model="user.password" required>
                    <label>Password</label>
                </div>
                <div class="m-b-md">
                    <label class="md-check">
                        <input type="checkbox"><i class="primary"></i> Keep me signed in
                    </label>
                </div>
                <button type="submit" class="btn primary btn-block p-x-md" @click.prevent="loginUser" >Sign in</button>
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        name : 'login',
        data : () => ({
                user : {
                    username : "",
                    password : ""
                }
        }),
        methods : {
            loginUser(){
                this.$auth.login({
                    params: this.user,
                    success: function () {
                        console.log("Success!");
                    },
                    error: function () {
                        console.log("Error!");
                    },
                    rememberMe: true,
                    redirect: '/welcome',
                    fetchUser: true
                });
            }
        }
    }
</script>