<template>
    <pre>
        {{ courses }}
    </pre>
</template>

<script>

    import {mapActions,mapState} from 'vuex';

    export default{

        methods : {
                ...mapActions(['getAllCourses']),
        },
        mounted(){
            this.getAllCourses({});
        },
        computed : {
                ...mapState({
                    courses : state => state.course.courses
                })
        }
    }

</script>